<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <link th:href="@{/main.css}" rel="stylesheet" />
    <title>搜索</title>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div th:include="header.html :: header"></div>
    <div th:include="left.html :: left"></div>
    <div class="layui-body layui-tab-content site-demo site-demo-body">
        <div class="layui-tab-item layui-show">
            <div class="layui-main">
                <blockquote class="layui-elem-quote layui-text">
                    评估用户/组是否具有操作某资源的权限
                </blockquote>
                <form class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <select id="subject" name="subject" lay-filter="listUserRole" lay-search>
                                <option value="" selected>用户/组(*)</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select id="resource" name="resource" lay-filter="listResource" lay-search>
                                <option value="" selected>资源(*)</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select id="privilege" name="privilege" lay-filter="listPrivilege" lay-search>
                                <option value="" selected>权限(*)</option>
                            </select>
                        </div>
                        <div class="layui-btn-container">
                            <button type="submit" class="layui-btn layui-btn" lay-submit lay-filter="user-resource-privilege">
                                <i class="layui-icon layui-icon-release" style="font-size: 25px; color: whitesmoke"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <blockquote class="layui-elem-quote layui-text">
                    评估执行sql需要的权限
                </blockquote>
                <div class="layui-fluid">
                    <div class="layui-col-md5">
                        <form class="layui-form layui-form-pane">
                            <div class="layui-form-item">
                                <label class="layui-form-label">用户</label>
                                <div class="layui-input-block">
                                    <select id="user" name="user" lay-filter="listUser" lay-search>
                                        <option value="未知用户" selected></option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">执行语句，多条sql用分号分割</label>
                                <div class="layui-input-block">
                                    <textarea id="sqls" name="sqls" lay-filter="sqls" rows="10" cols="90%" placeholder="" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-btn-container">
                                    <button type="submit" class="layui-btn layui-btn" lay-submit lay-filter="sqls-eval">
                                        <i class="layui-icon layui-icon-release" style="font-size: 25px; color: whitesmoke"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="layui-col-md7" style="float: right">
                        <div id="relation-content" style="width: 100%;height:650px"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    <div th:include="footer.html :: footer"></div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.config({
        base: '/layui/exts/' //假设这是你存放拓展模块的根目录
    }).extend({
        echarts: 'echarts/echarts' // {/}的意思即代表采用自有路径，即不跟随 base 路径
    })
    layui.use(['element', 'form', 'echarts'], function() {
        var element = layui.element,
            form = layui.form,
            echarts = layui.echarts,
            $ = layui.$;

        var myChart = echarts.init(document.getElementById('relation-content'));

        form.on('submit(user-resource-privilege)', function(data){
            var subject = data.field.subject
            var resource = data.field.resource
            var privilege = data.field.privilege
            if(subject!=="" && resource!=="" && privilege!==""){
                $.ajax({
                    url: "/api/v1/search/policy"
                    ,type: "get"
                    ,dataType: 'json'
                    ,data:{
                        subject: subject,
                        resource: resource,
                        privilege: privilege
                    }
                    ,success: function (data) {
                        var msg = "deny"
                        var icon = 5
                        if(data){
                            msg = "allow"
                            icon = 6
                        }
                        layer.msg(msg, {
                                icon: icon,//成功的表情
                                time: 1000, //2秒关闭（如果不配置，默认是3秒）
                         });
                    }
                });
            } else {
                layer.msg("评估信息不完整")
            }
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        form.on('submit(sqls-eval)', function(data){
            var user = data.field.user
            var sqls = data.field.sqls
            if(user!=="" && sqls!==""){
                $.ajax({
                    url: "/api/v1/relation/evalRules"
                    ,type: "get"
                    ,dataType: 'json'
                    ,data:{
                        user: user,
                        sqls: sqls
                    }
                    ,success: function (data) {
                        myChart.setOption(option = {
                        toolbox: {
                            show : true,
                            feature : {
                                mark : {show: true},
                                dataView : {show: true, readOnly: true},
                                restore : {show: true},
                                saveAsImage : {show: true}
                            }
                        },
                        calculable : false,

                        series : [
                            {
                                name:'树图',
                                type:'tree',
                                orient: 'horizontal',  // vertical horizontal
                                nodePadding: 1,
                                label: {
                                    normal: {
                                        position: 'left',
                                        verticalAlign: 'middle',
                                        align: 'right',
                                        fontSize: 12
                                    }
                                },

                                leaves: {
                                    label: {
                                        normal: {
                                            position: 'right',
                                            verticalAlign: 'middle',
                                            align: 'left'
                                        }
                                    }
                                },

                                lineStyle: {
                                    color: '#5881bb',
                                    type: 'solid' // 'curve'|'broken'|'solid'|'dotted'|'dashed'
                                },

                                expandAndCollapse: true,
                                animationDuration: 550,
                                animationDurationUpdate: 750,

                                top: '1%',
                                left: '10%',
                                bottom: '1%',
                                right: '20%',
                                symbolSize: 10,
                                data: [data]
                            }
                        ]
                    })
                    }
                });
            } else {
                layer.msg("评估信息不完整")
            }
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        $.ajax({
            url:"/api/v1/search/subList",
            type: "get",
            dataType: 'json',
            data:{
                conds: "users,roles,resources,privileges"
            },
            success:function(data){

                var users = data.users,
                    roles = data.roles,
                    resources = data.resources,
                    privileges = data.privileges;

                for(var i=0; i< users.length; i++){
                    $('#subject').append(new Option("用户："+users[i].name, users[i].name))
                }
                for(var i=0; i< roles.length; i++){
                    $('#subject').append(new Option("组："+roles[i].name, roles[i].name))
                }
                for(var i=0; i< users.length; i++){
                    $('#user').append(new Option(users[i].name, users[i].name))
                }
                for(var i=0; i< resources.length; i++){
                    $('#resource').append(new Option(resources[i].name, resources[i].name))
                }
                for(var i=0; i< privileges.length; i++){
                    $('#privilege').append(new Option(privileges[i].name, privileges[i].name))
                }
                layui.form.render("select");
            }
        })

    });
</script>
</body>
</html>