<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <link th:href="@{/main.css}" rel="stylesheet" />
    <title>搜索</title>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div th:include="header.html :: header"></div>
    <div th:include="left.html :: left"></div>
    <div class="layui-body layui-tab-content site-demo site-demo-body">
        <div class="layui-tab-item layui-show">
            <div class="layui-main">
                <blockquote class="layui-elem-quote layui-text">
                    可以选定多个条件进行匹配
                </blockquote>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>条件选择</legend>
                </fieldset>
                <form class="layui-form" th:action="@{/search/policy}">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <select id="user" name="user" lay-filter="listUser" lay-search>
                                <option value="" selected>用户(*)</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select id="role" name="role" lay-filter="listRole" lay-search>
                                <option value="" selected>角色/组(*)</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select id="resource" name="resource" lay-filter="listResource" lay-search>
                                <option value="" selected>资源(*)</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select id="privilege" name="privilege" lay-filter="listPrivilege" lay-search>
                                <option value="" selected>权限(*)</option>
                            </select>
                        </div>
                        <div class="layui-btn-container">
                            <button type="submit" class="layui-btn layui-btn">
                                <i class="layui-icon layui-icon-search" style="font-size: 25px; color: whitesmoke"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>匹配结果</legend>
                </fieldset>
            </div>
        </div>
    </div>
    <div th:include="footer.html :: footer"></div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use(['element', 'form'], function() {
        var element = layui.element,
            form = layui.form,
            $ = layui.$;

        $.ajax({
            url:"/search/conditionList",
            type: "get",
            dataType: 'json',
            success:function(data){

                var users = data.users,
                    roles = data.roles,
                    resources = data.resources,
                    privileges = data.privileges;

                for(var i=0; i< users.length; i++){
                    $('#user').append(new Option(users[i].name, users[i].name))
                }
                for(var i=0; i< roles.length; i++){
                    $('#role').append(new Option(roles[i].name, roles[i].name))
                }
                for(var i=0; i< resources.length; i++){
                    $('#resource').append(new Option(resources[i].name, resources[i].name))
                }
                for(var i=0; i< privileges.length; i++){
                    $('#privilege').append(new Option(privileges[i].name, privileges[i].name))
                }
                layui.form.render("select");
            }
        })

    });
</script>
</body>
</html>