<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <title>用户关系展示</title>
</head>
<body>
    <div class="layui-container">
        <div class="layui-main">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>用户信息</legend>
            </fieldset>
            <form class="layui-form layui-form-pane" style="width: 720px">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" autocomplete="off"
                               th:value="${username}" class="layui-input" disabled>
                    </div>
                    <div class="layui-text" style="color: red; font-size: medium"><strong>*</strong></div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">已加入的组</label>
                    <div class="layui-input-block">
                        <textarea th:text="${roles}" name="roles" placeholder="未加入任何组" class="layui-textarea" disabled></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script th:src="@{/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use(['element'], function() {
        var element = layui.element
    });
</script>
</html>