<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <link th:href="@{/main.css}" rel="stylesheet" />
    <title>搜索</title>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div th:include="header.html :: header"></div>
    <div th:include="left.html :: left"></div>
    <div class="layui-body layui-tab-content site-demo site-demo-body">
        <div class="layui-tab-item layui-show">
            <div class="layui-main">
                <blockquote class="layui-elem-quote layui-text">
                    用户既可以单独操作某个权限，也可以通过加入组(授予角色)获取权限
                </blockquote>
                <div class="layui-container">
                    <div class="layui-col-md6">
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                            <legend>用户/角色-资源授权</legend>
                        </fieldset>
                        <form class="layui-form">
                            <div class="layui-form-item">
                                <div class="layui-input-inline">
                                    <select id="user-grant" name="user" lay-filter="listUser" lay-search>
                                        <option value="" selected>用户/角色(*)</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline">
                                    <select id="resource-grant" name="resource" lay-filter="listResource" lay-search>
                                        <option value="" selected>资源(*)</option>
                                    </select>
                                </div>
                                <div class="layui-btn-container">
                                    <button type="submit" class="layui-btn layui-btn" lay-submit lay-filter="list-privilege">
                                        <i class="layui-icon layui-icon-search" style="font-size: 25px; color: whitesmoke"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                            <legend>授权</legend>
                        </fieldset>
                        <div id="user-resource-grant" class="layui-trans"></div>
                    </div>
                    <div class="layui-col-md6">
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                            <legend>用户-角色绑定</legend>
                        </fieldset>
                        <form class="layui-form" th:action="@{/api/v1/bind/user}" th:method="post">
                            <div class="layui-form-item">
                                <div class="layui-input-inline">
                                    <select id="user-bind" name="user" lay-filter="listUser" lay-search>
                                        <option value="" selected>用户(*)</option>
                                    </select>
                                </div>
                                <div class="layui-btn-container">
                                    <button type="submit" class="layui-btn layui-btn" lay-submit lay-filter="list-role">
                                        <i class="layui-icon layui-icon-search" style="font-size: 25px; color: whitesmoke"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                            <legend>绑定</legend>
                        </fieldset>
                        <div id="user-role-bind" class="layui-trans"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:include="footer.html :: footer"></div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use(['element', 'form','transfer', 'layer', 'util'], function() {
        var element = layui.element,
            form = layui.form,
            $ = layui.$,
            transfer = layui.transfer,
            layer = layui.layer,
            util = layui.util;

        $.ajax({
            url:"/api/v1/search/subList",
            type: "get",
            dataType: 'json',
            data:{
                conds: "users,roles,resources"
            },
            success:function(data){

                var users = data.users,
                    roles = data.roles,
                    resources = data.resources;

                for(var i=0; i< users.length; i++){
                    $('#user-grant').append(new Option("用户："+users[i].name, users[i].name))
                    $('#user-bind').append(new Option(users[i].name, users[i].name))
                }
                for (var i=0; i< roles.length; i++){
                    $('#user-grant').append(new Option("组："+roles[i].name, roles[i].name))
                }
                for(var i=0; i< resources.length; i++){
                    $('#resource-grant').append(new Option(resources[i].name, resources[i].name))
                }
                layui.form.render("select");
            }
        })

        //监听用户绑定form 按钮
        form.on('submit(list-privilege)', function (data) {

            var user = data.field.user;
            var resource = data.field.resource;

            if(user === "" || resource === "" ){
                layer.msg("请选择要授权的用户(角色)/资源！");
                return false;
            }else{
                $.ajax({
                    url: "/api/v1/grant/privilege",
                    type: "get",
                    dataType:'json',
                    data:{
                        user: user,
                        resource: resource
                    },
                    success: function (data) {
                        var transferData = []
                        var value = []

                        var granted = data.granted,
                            all = data.all;

                        for(var i=0;i< all.length; i++){
                            transferData.push({ "value": all[i] , "title": all[i]})
                        }
                        for(var j=0; j < granted.length; j++){
                            value.push(granted[j])
                        }

                        transfer.render({
                            elem: '#user-resource-grant'
                            ,data: transferData
                            ,value: value
                            ,title: ['候选', '已授权']
                            ,showSearch: true
                            ,text: {
                                none: '无数据' //没有数据时的文案
                                ,searchNone: '无匹配数据' //搜索无匹配数据时的文案
                            }
                            ,id: 'user-resource-grant' //定义索引
                            ,onchange: function(data, index){

                                var user = $("#user-grant").val()
                                var resource = $("#resource-grant").val()
                                var grants = []
                                for(var j=0; j< data.length; j++){
                                    grants.push(data[j].value)
                                }
                                if(user!=="" && resource !== ""){
                                    var url = ""
                                    var msg = ""
                                    if(index===0) {
                                        url = "/api/v1/grant/apply"
                                        msg = "授权"
                                    }else {
                                        url = "/api/v1/grant/revoke"
                                        msg = "取消授权"
                                    }
                                    $.ajax({
                                        url: url,
                                        type: "post",
                                        dataType:'json',
                                        traditional: true,
                                        data:{
                                            user: user,
                                            resource: resource,
                                            grants: grants
                                        },
                                        success: function (data) {
                                            layer.msg(msg+"成功")
                                        }
                                    });
                                }else{
                                    layer.msg("请选择用户/资源")
                                }
                            }
                        })
                    }
                })
                return false;
            }
        });

        form.on('submit(list-role)',function (data) {
            var user = data.field.user;
            if(user === ""){
                layer.msg("请选择用户");
                return false;
            }else {
                $.ajax({
                    url: "/api/v1/grant/role",
                    type: "get",
                    dataType:'json',
                    data:{
                        user: user
                    },
                    success: function (data) {
                        var transferData = []
                        var value = []

                        var binded = data.binded,
                            all = data.all;

                        for(var i=0;i< all.length; i++){
                            transferData.push({ "value": all[i] , "title": all[i]})
                        }
                        for(var j=0; j < binded.length; j++){
                            value.push(binded[j])
                        }

                        transfer.render({
                            elem: '#user-role-bind'
                            ,data: transferData
                            ,value: value
                            ,title: ['候选', '已授权']
                            ,showSearch: true
                            ,id: 'user-role-bind' //定义索引
                            ,onchange: function(data, index){
                                var user = $("#user-bind").val()
                                var roles = []
                                for(var j=0; j< data.length; j++){
                                    roles.push(data[j].value)
                                }
                                if(user!==""){
                                    var url = ""
                                    var msg = ""
                                    if(index===0) {
                                        url = "/api/v1/role/bind"
                                        msg = "绑定"
                                    }else {
                                        url = "/api/v1/role/unbind"
                                        msg = "解绑"
                                    }
                                    $.ajax({
                                        url: url,
                                        type: "post",
                                        dataType:'json',
                                        traditional: true,
                                        data:{
                                            user: user,
                                            roles: roles
                                        },
                                        success: function (data) {
                                            layer.msg(msg+"成功")
                                        }
                                    });
                                }else{
                                    layer.msg("请选择用户")
                                }
                            }
                        })
                    }
                });
                return false;
            }
        });

    });
</script>
</body>
</html>