<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <link th:href="@{/main.css}" rel="stylesheet" />
    <title>关于</title>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div th:include="header.html :: header"></div>
    <div th:include="left.html :: left"></div>
    <div class="layui-body layui-tab-content site-demo site-demo-body">
        <div class="layui-tab-item layui-show">
            <div class="layui-main">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>个人信息</legend>
                </fieldset>
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="username" lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-text" style="color: red; font-size: medium"><strong>*</strong></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="password" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-text" style="color: red; font-size: medium"><strong>*</strong></div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">出生日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="date" id="birthday" placeholder="2000-01-01" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">爱好</label>
                        <div class="layui-input-block">
                            <input type="text" name="hobby" placeholder="凉皮、沙拉、柠檬茶、... --吃，我所欲也！" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">名言</label>
                        <div class="layui-input-block">
                            <input type="text" name="hobby" placeholder="别和我谈梦想，我的梦想就每天收租 . . ." autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">籍贯</label>
                        <div class="layui-input-inline">
                            <select id="province" name="province" lay-filter="province">
                                <option value="">请选择省</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <div class="layui-input-inline" style="display: none;">
                                <select id="city" name="city" lay-filter="city">
                                    <option value="">请选择市</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-input-inline">
                            <div class="layui-input-inline" style="display: none;">
                                <select id="area" name="area" lay-filter="area">
                                    <option value="">请选择县/区</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">休闲时</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="like1[bilibili]" title="逛B站" checked="">
                            <input type="checkbox" name="like1[douyin]" title="刷抖音" checked="">
                            <input type="checkbox" name="like[read]" title="阅读">
                            <input type="checkbox" name="like1[kuaishou]" title="刷快手">
                            <input type="checkbox" name="like[game]" title="游戏" checked="">
                            <input type="checkbox" name="like1[americanDrama]" title="看美剧" checked="">
                            <input type="checkbox" name="like[write]" title="写作">
                            <input type="checkbox" name="like[other]" title="其他">
                        </div>
                    </div>
                    <div class="layui-form-item" pane="">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-block">
                            <input type="radio" name="sex" value="男" title="男神" checked="">
                            <input type="radio" name="sex" value="女" title="女神">
                            <input type="radio" name="sex" value="保密" title="无神论者" >
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">个人说明</label>
                        <div class="layui-input-block">
                            <textarea placeholder="每个人都只有一种命运 . . .   --《教父》" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <button class="layui-btn" lay-submit="" lay-filter="demo2">修改</button>
                        <button class="layui-btn" lay-submit="" lay-filter="demo2">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:include="footer.html :: footer"></div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/area.js}"></script>
<script>
//JavaScript代码区域
var areaData = Area;
layui.use(['element', 'laydate', 'form'], function() {
    var element = layui.element,
        laydate = layui.laydate,
        form = layui.form,
        $ = layui.$,
        $form = $('form');

    //执行一个laydate实例
    laydate.render({
        elem: '#birthday' //指定元素
    });

    var proHtml = '';
    for (var i = 0; i < areaData.length; i++) {
        proHtml += '<option value="' + areaData[i].provinceCode + '_' + areaData[i].mallCityList.length + '_' + i +'">' + areaData[i].provinceName + '</option>';
    }
    $form.find('select[name=province]').append(proHtml);
    form.render();
    form.on('select(province)', function(data) {
        $form.find('select[name=area]').html('<option value="">请选择县/区</option>').parent().hide();
        var value = data.value;
        var d = value.split('_');
        var code = d[0];
        var count = d[1];
        var index = d[2];
        if (count > 0) {
            loadCity(areaData[index].mallCityList);
        } else {
            $form.find('select[name=city]').parent().hide();
        }
    });

    function loadCity(citys) {
        var cityHtml = '';
        for (var i = 0; i < citys.length; i++) {
            cityHtml += '<option value="' + citys[i].cityCode + '_' + citys[i].mallAreaList.length + '_' + i +'">' + citys[i].cityName + '</option>';
        }
        $form.find('select[name=city]').html(cityHtml).parent().show();
        form.render();
        form.on('select(city)', function(data) {
            var value = data.value;
            var d = value.split('_');
            var code = d[0];
            var count = d[1];
            var index = d[2];
            if (count > 0) {
                loadArea(citys[index].mallAreaList);
            } else {
                $form.find('select[name=area]').parent().hide();

            }
        });
    }
//加载县/区数据
    function loadArea(areas) {
        var areaHtml = '';
        for (var i = 0; i < areas.length; i++) {
            areaHtml += '<option value="' + areas[i].areaCode + '">' + areas[i].areaName + '</option>';
        }
        $form.find('select[name=area]').html(areaHtml).parent().show();
        form.render();
        form.on('select(area)', function(data) {
        });
    }

});
</script>
</body>
</html>