<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <link th:href="@{/main.css}" rel="stylesheet" />
    <title>资源管理</title>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div th:include="header.html :: header"></div>
    <div th:include="left.html :: left"></div>
    <div class="layui-body layui-tab-content site-demo site-demo-body">
        <div class="layui-tab-item layui-show">
            <div class="layui-main">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>资源管理</legend>
                </fieldset>
                <div class="layui-btn-group tableClass">
                    <button class="layui-btn layui-btn-danger" data-type="deleteSubjects">
                        删除 <i class="layui-icon layui-icon-delete table-batch-op"></i>
                    </button>
                    <button type="button" class="layui-btn" data-type="addSubject">
                        添加 <i class="layui-icon layui-icon-add-circle table-batch-op"></i>
                    </button>
                    <button type="button" class="layui-btn layui-btn-normal" data-type="refresh">
                        刷新<i class="layui-icon layui-icon-refresh-3 table-batch-op"></i>
                    </button>
                </div>

                <div class="tableClass" style="float: right;">
                    搜索名称：
                    <div class="layui-inline">
                        <input class="layui-input" name="search" id="search" autocomplete="on">
                    </div>
                    <button class="layui-btn" data-type="reload">
                        <i class="layui-icon layui-icon-search table-batch-op" style="font-size: 20px; color: whitesmoke"></i>
                    </button>
                </div>
                <table id="subject-table" lay-filter="table" lay-data="{id: 'tableReload'}"></table>

                <script type="text/html" id="row-tool-bar">
                    <div class="layui-btn-container">
                        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="modify">修改</a>
                        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
                    </div>
                </script>

            </div>
        </div>
    </div>
    <div th:include="footer.html :: footer"></div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script th:inline="none" >
    //JavaScript代码区域
    layui.use(['element', 'table'], function() {
        var element = layui.element,
            table = layui.table,
            $ = layui.$;

        table.render({
            elem: '#subject-table',
            url: '/api/v1/resource/getPageResource',
            id:'tableReload',
            toolbar: false,
            title: true,
            limits: [5, 10, 15, 20, 50],
            limit: 10, //每页默认显示的数量
            page: true,
            cols: [[
                {type:'checkbox',      fixed: 'left'},
                {field:'id',           title:'ID' ,  fixed: 'left', sort: true},
                {field:'name',         title:'名称', sort: true},
                {field:'desc',  title:'备注',  },
                {title:'操作',  width:150,  fixed:'right', align:'center', toolbar: '#row-tool-bar'}
            ]]
        });

        //监听工具条
        table.on('tool(table)', function(obj){
            var data = obj.data;
            if(obj.event === 'modify'){
                layer.open({
                    type: 2,
                    maxmin: true,
                    shadeClose: true, //点击遮罩关闭层
                    title: "修改资源信息",
                    area : ['800px' , '350px'],
                    content: '/api/v1/manage/resource/info?id='+data.id,
                    btn: ['确认'],
                    yes: function (index, layero) {
                        var input = layer.getChildFrame('input', index);
                        var name = input[0].value;
                        var textarea = layer.getChildFrame('textarea', index);
                        var desc = textarea[0].value
                        if(name === "") {
                            //配置一个透明的询问框
                            layer.msg('必填项不能为空', {
                                time: 1000, //1s后自动关闭
                            });
                            layer.close()
                            return;
                        }

                        $.ajax({
                            url:"/api/v1/resource/modify",
                            type:'post',
                            data:{
                                id: data.id,
                                name: name,
                                desc: desc
                            },
                            success:function(data){
                                if(data.status === 'error'){
                                    layer.msg("修改失败！"+data,{
                                        icon: 5,
                                        // area : ['100px' , '60px'],
                                    });//失败的表情
                                }else{
                                    layer.msg(data, {
                                        icon: 6,//成功的表情
                                        time: 1000, //2秒关闭（如果不配置，默认是3秒）
                                        // area : ['100px' , '60px'],
                                    }, function(){
                                        //执行重载
                                        table.reload('tableReload', {
                                            url: '/api/v1/resource/getPageResource',
                                            page: {
                                                curr: 1 //重新从第 1 页开始
                                            }
                                        });
                                    });
                                }
                            },
                            complete: function () {

                                layer.close(index);
                            }
                        })
                    }
                });
            } else if(obj.event === 'delete'){
                layer.confirm('真的要删除'+data.name+'吗？', function(index){
                    obj.del();
                    $.ajax({
                        url:"/api/v1/resource/delete",
                        type:'delete',
                        data:{
                            id: data.id,
                            name: data.name
                        },
                        success:function(data){
                            if(data.status === 'error'){
                                layer.msg("删除失败,"+data,{
                                    icon: 5,
                                    area : ['100px' , '50px'],
                                });//失败的表情
                            }else{
                                layer.msg("删除成功", {
                                    icon: 6,//成功的表情
                                    time: 1000, //1秒关闭（如果不配置，默认是3秒）
                                    area : ['100px' , '50px'],
                                });
                                //执行重载
                                table.reload('tableReload', {
                                    url: '/api/v1/resource/getPageResource',
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                });
                            }
                        },
                        complete: function () {

                            layer.close(index);
                        }
                    })
                    layer.close(index);
                });
            }
        });

        var $ = layui.$, active = {
            reload: function(){
                var search = $('#search');

                //执行重载
                table.reload('tableReload', {
                    url: '/api/v1/resource/search',
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        name: search.val()
                    }
                });
            },
            deleteSubjects: function(){ //获取选中数据
                var checkStatus = table.checkStatus('tableReload')
                    ,data = checkStatus.data;
                if(data.length>0){
                    layer.open({
                        content: '删除这'+data.length+'个用户吗？'
                        ,btn: ['确定', '取消']
                        ,anim: 6
                        ,yes: function(index, layero){
                            var id = []
                            var name = []
                            for(var i=0; i< data.length; i++){
                                id.push(data[i].id)
                                name.push(data[i].name)
                            }
                            $.ajax({
                                url:"/api/v1/resource/batchDelete",
                                type:'delete',
                                data:{
                                    id: id.join(","),
                                    name: name.join(",")
                                },
                                success:function(data){
                                    if(data.status === 'error'){
                                        layer.msg("删除失败,"+data,{
                                            icon: 5,
                                            // area : ['100px' , '50px'],
                                        });//失败的表情
                                    }else{
                                        location.reload();
                                        layer.msg("删除成功", {
                                            icon: 6,//成功的表情
                                            time: 1000, //1秒关闭（如果不配置，默认是3秒）
                                            // area : ['100px' , '50px'],
                                        });
                                        //执行重载
                                        table.reload('tableReload', {
                                            url: '/api/v1/resource/getPageResource',
                                            page: {
                                                curr: 1 //重新从第 1 页开始
                                            }
                                        });
                                    }
                                },
                                complete: function () {
                                    layer.close(index);
                                }
                            })
                        }
                        ,cancel: function(){
                            //右上角关闭回调
                            // return false //开启该代码可禁止点击该按钮关闭
                        }
                    });
                }else{
                    //配置一个透明的询问框
                    layer.msg('未选择', {
                        time: 1000, //1s后自动关闭
                    });
                }
            }
            ,addSubject: function(){
                layer.open({
                    type: 2,
                    maxmin: true,
                    shadeClose: true, //点击遮罩关闭层
                    title: "添加资源",
                    area : ['800px' , '350px'],
                    content: '/api/v1/manage/add/resource',
                    btn: ['确认'],
                    yes: function (index, layero) {
                        var input = layer.getChildFrame('input', index);
                        var name = input[0].value;
                        var desc = layer.getChildFrame('textarea', index);

                        if(name === "") {
                            //配置一个透明的询问框
                            layer.msg('必填项不能为空', {
                                time: 1000, //1s后自动关闭
                            });
                            layer.close()
                            return;
                        }

                        $.ajax({
                            url:"/api/v1/resource/add",
                            type:'post',
                            data:{
                                name: name,
                                desc: desc[0].value
                            },
                            success:function(data){
                                if(data.status === 'error'){
                                    layer.msg("添加失败！"+data,{
                                        icon: 5,
                                        // area : ['100px' , '60px'],
                                    });//失败的表情
                                }else{
                                    layer.msg(data, {
                                        icon: 6,//成功的表情
                                        time: 1000, //2秒关闭（如果不配置，默认是3秒）
                                        // area : ['100px' , '60px'],
                                    }, function(){
                                        //执行重载
                                        table.reload('tableReload', {
                                            url: '/api/v1/resource/getPageResource',
                                            page: {
                                                curr: 1 //重新从第 1 页开始
                                            }
                                        });
                                    });
                                }
                            },
                            complete: function () {
                                layer.close(index);
                            }
                        })
                    }
                });

            }
            ,refresh: function(){
                //执行重载
                table.reload('tableReload', {
                    url: '/api/v1/resource/getPageResource',
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
            },
        };

        $('.tableClass .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
</body>
</html>