<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <link th:href="@{/main.css}" rel="stylesheet" />
    <title>关于</title>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div th:include="header.html :: header"></div>
    <div th:include="left.html :: left"></div>
    <div class="layui-body layui-tab-content site-demo site-demo-body">
        <div class="layui-tab-item layui-show">
            <div class="layui-main">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>用户管理</legend>
                </fieldset>
                <div class="layui-btn-group userTable">
                    <button class="layui-btn layui-btn-danger" data-type="deleteUsers">
                        删除选中 <i class="layui-icon layui-icon-delete table-batch-op"></i>
                    </button>
                    <button type="button" class="layui-btn" data-type="addUser">
                        添加用户 <i class="layui-icon layui-icon-add-circle table-batch-op"></i>
                    </button>
                </div>

                <div class="demoTable" style="float: right;">
                    搜索用户：
                    <div class="layui-inline">
                        <input class="layui-input" name="id" id="demoReload" autocomplete="off">
                    </div>
                    <button class="layui-btn" data-type="reload">
                        <i class="layui-icon layui-icon-search table-batch-op" style="font-size: 20px; color: whitesmoke"></i>
                    </button>
                </div>
                <table id="user-list" lay-filter="user" lay-data="id:'userId'"></table>

                <script type="text/html" id="user-tool-bar">
                    <div class="layui-btn-container">
                        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="relation" href="#">
                            <i class="layui-icon layui-icon-chart" style="font-size: 10px;"></i>
                        </a>
                        <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
                    </div>
                </script>

            </div>
        </div>
    </div>
    <div th:include="footer.html :: footer"></div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script th:inline="none" >
    //JavaScript代码区域
    layui.use(['element', 'table'], function() {
        var element = layui.element,
            table = layui.table,
            $ = layui.$;

        table.render({
            elem: '#user-list',
            url: '/user/getPageUser',
            id:'userId',
            toolbar: false,
            title: true,
            limits: [10, 15, 20, 50],
            limit: 10, //每页默认显示的数量
            page: true,
            cols: [[
                {type:'checkbox',      fixed: 'left'},
                {field:'id',           title:'ID',   width:80,  fixed: 'left', sort: true},
                {field:'username',     title:'用户',  width:120, edit: 'text',  search: true},
                {field:'organization', title:'组织',  width:150, edit: 'text'},
                {field:'email',        title:'邮箱',  width:150, edit: 'text'},
                {field:'gender',       title:'性别',  width:80,  edit: 'text',   sort: true},
                {title:'操作',          fixed:'right', width:145, align:'center', toolbar: '#user-tool-bar'}
            ]]
        });

        //监听表格复选框选择
        table.on('checkbox(user)', function(obj){
            console.log(obj)
        });
        //监听工具条
        table.on('tool(user)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.alert('<pre class="layui-code">'+JSON.stringify(data, null, '\t')+"</pre>")
            } else if(obj.event === 'delete'){
                layer.confirm('真的要删除'+data.username+'吗？', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'relation'){
                layer.open({
                    type: 2,
                    maxmin: true,
                    shadeClose: true, //点击遮罩关闭层
                    area : ['800px' , '520px'],
                    content: '/manage/relation/user?userId='+data.id
                });
            }
        });

        var $ = layui.$, active = {
            deleteUsers: function(){ //获取选中数据
                var checkStatus = table.checkStatus('userId')
                    ,data = checkStatus.data;
                if(data.length>0){
                    layer.open({
                        content: '删除这'+data.length+'个用户吗？'
                        ,btn: ['确定', '取消',]
                        ,anim: 6
                        ,yes: function(index, layero){
                            //do something
                            layer.close()
                        }
                        ,cancel: function(){
                            //右上角关闭回调

                            // return false //开启该代码可禁止点击该按钮关闭
                        }
                    });
                }else{
                    //配置一个透明的询问框
                    layer.msg('未选择用户', {
                        time: 1000, //1s后自动关闭
                    });
                }
            }
            ,addUser: function(){ //获取选中数目
                // var checkStatus = table.checkStatus('userId')
                    // ,data = checkStatus.data;
                layer.open({
                    type: 2,
                    maxmin: true,
                    shadeClose: true, //点击遮罩关闭层
                    title: "添加用户",
                    area : ['800px' , '600px'],
                    content: '/manage/add/user',
                    btn: ['确认'],
                    yes: function (index, layero) {
                        var input = layer.getChildFrame('input', index);
                        var username = input[0].value,
                            organization = input[1].value,
                            email = input[2].value,
                            gender_male = input[3],
                            gender_female = input[4],
                            gender_unkonw = input[5];
                         var desc = layer.getChildFrame('textarea', index);

                        if(username === "") {
                            //配置一个透明的询问框
                            layer.msg('用户名不能为空', {
                                time: 1000, //1s后自动关闭
                            });
                            layer.close()
                            return;
                        }

                        function getGender(radio1, radio2){
                            return radio1.Checked ? radio1 : radio2
                        }

                        var gender = getGender(getGender(gender_male,gender_female),gender_unkonw)

                        $.ajax({
                            url:"/user/add",
                            type:'post',
                            data:{
                                username: username,
                                organization: organization,
                                email: email,
                                gender: gender.value,
                                description: desc[0].value
                            },
                            success:function(data){
                                if(data.status === 'error'){
                                    layer.msg("添加失败！"+data.msg,{
                                        icon: 5,
                                        area : ['100px' , '60px'],
                                    });//失败的表情
                                }else{
                                    layer.msg("添加成功", {
                                        icon: 6,//成功的表情
                                        time: 1000, //2秒关闭（如果不配置，默认是3秒）
                                        area : ['100px' , '60px'],
                                    }, function(){
                                        location.reload();
                                    });
                                }
                            },
                            complete: function () {
                                layer.close(index);
                            }
                        })
                    }
                });

            }
        };

        $('.userTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
</body>
</html>