<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>left</title>
</head>
<body>
    <div th:fragment="left">
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">
                            <i class="layui-icon layui-icon-form"></i>&nbsp;&nbsp;&nbsp;对象管理
                        </a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a th:href="@{/api/v1/manage/user}">
                                    <i class="layui-icon layui-icon-user"></i>&nbsp;&nbsp;&nbsp;用户管理
                                </a>
                            </dd>
                            <dd>
                                <a th:href="@{/api/v1/manage/role}">
                                    <i class="layui-icon layui-icon-username"></i>&nbsp;&nbsp;&nbsp;角色管理
                                </a>
                            </dd>
                            <dd>
                                <a th:href="@{/api/v1/manage/resource}">
                                    <i class="layui-icon layui-icon-component"></i>&nbsp;&nbsp;&nbsp;资源管理
                                </a>
                            </dd>
                            <dd>
                                <a th:href="@{/api/v1/manage/privilege}">
                                    <i class="layui-icon layui-icon-vercode"></i>&nbsp;&nbsp;&nbsp;权限管理
                                </a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">
                            <i class="layui-icon layui-icon-senior"></i>&nbsp;&nbsp;&nbsp;授权管理
                        </a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a th:href="@{/api/v1/grant/user}">
                                    <i class="layui-icon layui-icon-user" style="font-size: 15px; "></i>&nbsp;&nbsp;&nbsp;用户授权
                                </a>
                            </dd>
                        </dl>
                        <dl class="layui-nav-child">
                            <dd>
                                <a th:href="@{/api/v1/grant/resource}">
                                    <i class="layui-icon layui-icon-user" style="font-size: 15px; "></i>&nbsp;&nbsp;&nbsp;资源配权
                                </a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">通知管理</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="javascript:;">
                                    <i class="layui-icon layui-icon-notice" style="font-size: 15px; "></i>&nbsp;&nbsp;&nbsp;消息通知
                                </a>
                            </dd>
                            <dd>
                                <a href="javascript:;">
                                    <i class="layui-icon layui-icon-release" style="font-size: 15px; "></i>&nbsp;&nbsp;&nbsp;邮件通知
                                </a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed"><a href="javascript:;">模型展示</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="javascript:;">
                                    <i class="layui-icon layui-icon-util" style="font-size: 15px; "></i>&nbsp;&nbsp;&nbsp;RBAC</a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>