<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
    <div th:fragment="main">
        <div id="board_1">
            <div class="layui-anim" id="board_2">
                <div class='💀'>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                </div>
                <div class='💀'>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                </div>
                <div class='💀'>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                </div>
                <div class='💀'>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                </div>
                <div class='💀'>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                </div>
                <div class='💀'>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                </div>
                <div class='💀'>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                </div>
                <div class='💀'>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                </div>
                <div class='💀'>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                </div>
                <div class='💀'>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                    <div class='🌀'></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>